*{
	margin: 0;
}
input[type=radio] {
    display: none; /* убрать кружок радиокнопки*/
}
  #forma{
        margin: 0px auto;
        padding: 20px 0px;
		text-align: center;
        /*position: relative;
        background: #FCFCFC;*/
        border: 1px solid #dedede;
        /*box-shadow: 0 1px 5px #D9D9D9,inset 0 10px 20px #F1F1F1;
        border-radius: 10px 10px 10px 10px;*/
        width: 600px;
		height: 240px;
    }

	p {
		font-size: 20px;
		font-weight: bold;
		margin-bottom: 10px;
	}
	
	#kn_sl, #kn_pd, #kn_rez {
	float: right;
	margin-right: 70px;
	border-radius: 7px;
	font-size: 14px;
	padding: 4px 12px;
    margin-top: 10px;
	text-align: center;
	display: inline-block;
	height: 30px;
	width: 115px;
	line-height: 20px;
    color: #fff;
    cursor: pointer;
   text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    vertical-align: middle;
    background-color: #5EBC5E;
	background-image: linear-gradient(to bottom,#62c462,#51a351);
    background-repeat: repeat-x; /* repeat */
    border: 1px solid #ccc;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-bottom-color: #b3b3b3;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
	}
	
	#kn_pd {
		float: left;
		margin-left: 70px;
		background-color: #49afcd;
		background-image: linear-gradient(to bottom,#5bc0de,#2f96b4);
	}
	
	#kn_pd:hover {
	background-image: linear-gradient(to bottom,#3299B7,#3299B7);
	transition: all.3s ease;
	}
	
	#kn_sl:hover, #kn_rez:hover {
	background-image: linear-gradient(to bottom,#51A451,#51A451);
	transition: all.3s ease;
	}
	
	#kn_sl:active {
	background-color: #51A451;
	}
	

	.questions label {
	border-radius: 7px;
	font-size: 18px;
	padding: 6px 30px;
	width: 400px;
	margin: 5px;
	text-align: left;
	display: inline-block;
	line-height: 20px;
    color: #333;
    cursor: pointer;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle;
    border: 1px solid #ccc;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-bottom-color: #b3b3b3;  
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
	}
	
	.questions label:hover {
	background: rgba(221, 221, 221, 0.6);
	transition: all.1s ease;
	}	

	
	.errordiv {
	display: none;
	border-radius: 7px;
	font-size: 14px;
	padding: 1px 12px;
	margin-top: 5px;
	margin-left: 70px;
	width: 435px;
	line-height: 20px;
    color: #fff;
   text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #D32323;
	background-image: linear-gradient(to bottom,#D32323,#D32323);
    border: 1px solid #ccc;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-bottom-color: #b3b3b3;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
	}
	
 